li {
  list-style-type: none;
}
:root {
  --primary-text-color: #757575;
  --selection-color: #2196f3;
  --title-text-color: #212121;
  --primary-white-color: #ffffff;
  --background-color: #f5f4fa;
}
html {
  box-sizing: border-box;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}
body {
  margin: 0;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;

  background-color: var(--primary-white-color);
}
.section-title {
  margin-bottom: 50px;
  margin-top: 0;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
}
.container {
  width: 1230px;
  padding: 94px 15px;
  margin: 0 auto;
}

/* Логотип */

.logo {
  color: var(--title-text-color);

  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: none;
}
.logo-web {
  color: var(--selection-color);
}
/* Основная навигация */

.head {
  display: flex;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}
.main-nav .link {
  text-decoration: none;
  padding: 32px 0px;
  color: var(--title-text-color);

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.main-nav .item {
  color: var(--title-text-color);

  font-size: 14px;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
}
.main-nav .item + .item {
  margin-left: 40px;
}

.main-nav .link:hover,
.main-nav .link:focus {
  color: var(--selection-color);
}
.main-nav .link.current {
  color: var(--selection-color);
  position: relative;
}
.current::after {
  content: "";

  width: 100%;
  height: 4px;
  background-color: var(--selection-color);
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  border-radius: 2px;
}

.main-nav {
  margin-left: 86px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  display: flex;
}
/* Контакты*/

.contacts-list {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  display: flex;
  padding-left: 0;
}

.contacts + .contacts {
  margin-left: 50px;
}
.contacts-link {
  color: var(--primary-text-color);

  font-size: 14px;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.icon-contact {
  fill: var(--primary-text-color);
  margin-right: 10px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.contacts-link:hover > .icon-contact,
.contacts-link:focus > .icon-contact {
  color: var(--selection-color);
  fill: var(--selection-color);
}
.contacts-link:hover,
.contacts-link:focus {
  color: var(--selection-color);
}

/* Герой */

.hero {
  text-align: center;
  padding-bottom: 200px;
  padding-top: 200px;
}
.background {
  background-color: rgba(47, 48, 58, 0.8);
  background-image: linear-gradient(
      to right,
      rgba(47, 48, 58, 0.8),
      rgba(47, 48, 58, 0.8)
    ),
    url("../images/Headerimg.jpg");
  background-position: center;
  background-size: cover;
  max-width: 1600px;
  margin: 0 auto;
}
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);

  width: 528px;
  height: 581px;
}
.form-content {
  padding: 40px;
  background-color: var(--primary-white-color);
}
.form-field {
  margin: 0;
  margin-bottom: 28px;
  display: flex;
  flex-direction: column;
  text-align: left;
}
.form-field input {
  border: 1px solid rgba(33, 33, 33, 0.2);
  box-sizing: border-box;
  border-radius: 4px;
  padding: 6px 10px;
  font-weight: normal;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.01em;
}
textarea {
  resize: none;
  border: 1px solid rgba(33, 33, 33, 0.2);
  border-radius: 4px;
  width: 448px;
  height: 120px;
}
.checkbox {
  font-size: 14px;
  font-weight: 3s00;
  line-height: 1.7px;
  color: #757575;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
}
.custom-checkbox {
  position: absolute;
  z-index: -1;
  opacity: 0;
}
.custom-checkbox + label {
  display: inline-flex;
  align-items: center;
  user-select: none;
}
.custom-checkbox + label::before {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  border: 1px solid var(--title-text-color);
  border-radius: 2px;
  margin-right: 8px;
  cursor: pointer;
}
.is-hidden {
  opacity: 0;
  pointer-events: none;
}
.modal-header {
  font-weight: bold;
  font-size: 20px;
  line-height: 23px;
  text-align: center;
  letter-spacing: 0.03em;
  margin: 0;
  margin-bottom: 30px;
}
.terms {
  color: var(--selection-color);
  margin-left: 4px;
}
.close-button {
  position: absolute;

  width: 30px;
  height: 30px;
  top: -10px;
  right: -10px;
  border-radius: 100%;
  background-color: var(--primary-white-color);
  border: none;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
}
.hero-header {
  margin-top: 0;
  margin-bottom: 46px;

  color: var(--primary-white-color);

  font-size: 44px;
  font-weight: 900;
  line-height: 1.36;
  letter-spacing: 0.06em;
  text-transform: uppercase;
}

/* Кнопки*/
.button {
  color: var(--primary-white-color);
  background-color: var(--selection-color);
  font-size: 16px;
  font-weight: 700;
  letter-spacing: 0.06em;
  display: inline-block;
  padding: 14px 32px;
  min-width: 200px;
  height: 50px;
  border-radius: 4px;
  border: 1px solid transparent;
  text-decoration: none;
  text-align: center;
  cursor: pointer;
}
/*Характеристики*/
.attributes {
  border-bottom: 1px solid #ececec;
  padding-bottom: 94px;
}
.attr-list {
  display: flex;
  padding: 0;
  margin: 0;
}
.attr-list .header {
  text-transform: uppercase;
}
.visually-hidden {
  position: absolute;
  clip: rect(0 0 0 0);
  width: 1px;
  height: 1px;
  margin: -1px;
}

.icon-attribute {
  width: 70px;
  height: 70px;
}
.attr-div {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  display: flex;
  align-items: center;
  justify-content: center;
}
.attr-list .item .header {
  color: var(--title-text-color);

  margin-bottom: 0;

  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;
}
.attr-list .item .text {
  color: var(--primary-text-color);

  margin-bottom: 0;

  font-size: 14px;
  line-height: 1.7;
}
.attr-list .item {
  margin-right: 30px;
}
.attr-list .item:last-child {
  margin-right: 0;
}

/*Работы*/

.work-list {
  display: flex;
  padding: 0;
  margin: 0px;
}
.work-list .item {
  margin-right: 30px;
  position: relative;
  z-index: -1;
}
.work-list .item .header {
  position: absolute;
  width: 100%;
  bottom: 0;
}

.work-list .item:last-child {
  margin-right: 0;
}
.work-list .header {
  background: rgba(47, 48, 58, 0.8);
  color: var(--primary-white-color);

  font-weight: 700;
  font-size: 14px;
  line-height: 1.15;

  text-align: center;
  text-transform: uppercase;
  padding: 27px;
  margin: 0;
}

/* Команда*/

.team-section {
  background: var(--background-color);
}
.team-list {
  display: flex;
  padding: 0;
  margin-top: 0;
  margin-bottom: 0;
}
.team-list .header {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin: 0;
  padding-top: 30px;
}
.team-list .text {
  font-size: 16px;
  line-height: 1.2;
  text-align: center;
  margin: 0;
  padding-top: 10px;
  padding-bottom: 20px;
}

.worker {
  width: 270px;
  height: 422px;
  background-color: var(--primary-white-color);
  margin-right: 30px;
  box-shadow: 0px 2px 1px rgba(0, 0, 0, 0.2), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 1px 3px rgba(0, 0, 0, 0.12);
  border-radius: 4px;
}
.worker:last-child {
  margin-right: 0;
}
.social-network {
  display: flex;
  padding-left: 0;
  justify-content: center;
}
.social-icon {
  fill: #afb1b8;
  width: 20px;
  height: 20px;
  display: inline-block;
  align-items: center;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.item-link:hover,
.item-link:focus {
  background-color: var(--selection-color);
  border-radius: 50%;
}
.item-link:hover > .social-icon,
.item-link:focus > .social-icon {
  fill: white;
}
.item-link {
  margin-right: 10px;
  display: flex;
  width: 44px;
  height: 44px;
  align-items: center;
  justify-content: center;
  border-radius: 50%;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*Клиенты*/

.clients {
  padding-bottom: 94px;
  text-align: center;
}
.clients-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;
}
.client-link:hover > .icon-client,
.client-link:focus > .icon-client {
  fill: var(--selection-color);
  color: var(--selection-color);
}
.client-link:hover,
.client-link:focus {
  border-color: var(--selection-color);
  fill: var(--selection-color);
  color: var(--selection-color);
}
.client-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.clients-list .item {
  margin-right: 30px;
}
.clients-list .item:last-child {
  margin-right: 0;
}
.icon-client {
  fill: #afb1b8;

  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*Портфолио*/
.portfolio {
  padding-top: 0;
  padding-bottom: 94px;
}
.projects-list {
  display: flex;
  flex-wrap: wrap;
  padding: 0;
  margin: 0;
}
.project {
  width: 370px;
  margin-right: 30px;
  margin-bottom: 30px;
  overflow: hidden;
}

.project:nth-last-child(-n + 3) {
  margin-bottom: 0;
}
.filter {
  display: flex;
  justify-content: center;
  margin-top: 0;
  margin-bottom: 50px;
}
.port-header {
  margin: 0;
  color: var(--primary-white-color);
}
.filter-item {
  margin-right: 8px;
}
.filter-item:last-child {
  margin-right: 0px;
}
.filter .item {
  background: var(--background-color);
  padding: 12px 24px;
  border-radius: 4px;
  border: transparent;
  font-family: inherit;
  font-size: 16px;
  font-weight: 500;
  line-height: 1.6;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.filter .item:hover,
.filter .item:focus {
  background: var(--selection-color);
  color: var(--primary-white-color);
  box-shadow: 0px 2px 2px rgba(0, 0, 0, 0.12), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 3px 1px rgba(0, 0, 0, 0.1);
}
.pf-link {
  display: block;
  text-decoration: none;
}
.pf-link .name {
  color: var(--title-text-color);
  font-weight: 700;
  font-size: 18px;
  line-height: 2;
  letter-spacing: 0.06em;
  margin: 0;
}
.pf-link .meaning {
  color: var(--primary-text-color);
  font-size: 16px;
  line-height: 1.9;
  letter-spacing: 0.03em;
  margin: 0;
}
.pic {
  display: block;
  border-top-right-radius: 5px;
  border-top-left-radius: 5px;
}
.card-content {
  border: 1px solid #eeeeee;
  padding: 20px 24px;
  overflow: hidden;
}

.thumb {
  position: relative;
  overflow: hidden;
}

.overlay .text {
  top: 0;
  padding: 63px 24px;
  margin: 0;
  background-color: var(--selection-color);
  transition: transform 2500ms cubic-bezier(0.4, 0, 0.2, 1);

  width: 100%;
  height: 100%;
  font-size: 18px;
  line-height: 1.5;
  letter-spacing: 0.03em;
  color: var(--primary-white-color);
}
.overlay {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.pf-link:hover .overlay,
.pf-link:focus .overlay {
  transform: translateY(0);
}
.project:hover,
.project:focus {
  box-shadow: 1px 4px 6px rgba(0, 0, 0, 0.16), 0px 4px 4px rgba(0, 0, 0, 0.06),
    0px 1px 1px rgba(0, 0, 0, 0.12);
}
/*Футер*/
.footer-section {
  background: #2f303a;
}
.footer {
  padding-top: 56px;
  padding-bottom: 28px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
.footer-logo {
  color: var(--primary-white-color);
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: none;
}
.address {
  color: var(--primary-white-color);
  margin-top: 10px;
  font-style: normal;
}
.footer-link {
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 10px;
  display: block;
  text-decoration: none;
}
.joinus {
  margin-right: 93px;
}
.logo-address {
  margin-right: 69px;
  font-weight: 300;
}
.footer-icon {
  background-color: #44454e;
  width: 44px;
  border-radius: 80%;
  margin-right: 10px;

  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon:hover,
.footer-icon:focus {
  background-color: var(--selection-color);
}
.footer-icon .link {
  display: flex;
  height: 44px;
  align-items: center;
  justify-content: center;
}
.footer-icon:last-child {
  margin-right: 0;
}
.footer-social {
  fill: var(--primary-white-color);
  width: 20px;
  height: 20px;
  display: inline-block;
  align-items: center;
}
.action {
  color: var(--primary-white-color);
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  text-transform: uppercase;
  margin-bottom: 20px;
  display: block;
}
.signin {
  margin-right: 12px;
}
.signin input {
  width: 358px;
  height: 50px;
  border: 1px solid rgba(255, 255, 255, 0.3);
  box-sizing: border-box;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  background: #2f303a;
  color: var(--primary-white-color);
}

.madeby {
  color: var(--primary-text-color);
  font-size: 12px;
  line-height: 2;
  margin: 0;
}
.copyright {
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
}
.social-links {
  display: flex;
  padding-left: 0;
  margin-top: 20px;
  margin-bottom: 0;
}

.email {
  color: rgba(255, 255, 255, 0.6);
  margin-bottom: 0;
}
.icon-subscribe {
  width: 24px;
  height: 24px;
  margin-left: 10px;
}
.subscribe {
  display: inline-flex;
  text-align: center;
  padding-left: 29px;
  padding-right: 20px;
}
.button-div {
  margin-top: 34px;
}
