.container {
  width: 1230px;
  padding: 94px 15px;
  margin: 0 auto;
}

@import "./base/variables";
@import "./base/normalize";
@import "./base/hidden";
@import "./utils/breakpoints";
@import "./components/header/main";
@import "./components/header/logo";
@import "./components/header/contacts";
@import "./components/header/nav";
@import "./components/hero";
@import "./components/modal";
@import "./components/button";
@import "./components/attributes";
@import "./components/team";
@import "./components/works";
@import "./components/clients";
@import "./components/portfolio/cards";
@import "./components/portfolio/menu";
@import "./components/footer/subscribe";
@import "./components/footer/join";
@import "./components/footer/address";

li {
  list-style-type: none;
}

body {
  margin: 0;

  font-family: $font-main;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;

  background-color: $primary-white;
}
.section-title {
  margin-bottom: 50px;
  margin-top: 0;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
}
