@import "./utils/variables";
@import "./base/normalize";
@import "./components/header/header";
@import "./components/header/logo";
@import "./components/header/nav";
@import "./components/header/contacts";
@import "./components/hero";
@import "./components/modal";
@import "./components/attributes";
@import "./components/button";
@import "./components/works";
@import "./components/team";
@import "./components/clients";
@import "./components/portfolio/filter";
@import "./components/portfolio/cards";
@import "./components/footer/logo-address";
@import "./components/footer/joinus";
@import "./components/footer/subscribe";

li {
  list-style-type: none;
}

body {
  margin: 0;

  font-family: Roboto, sans-serif;
  font-style: normal;
  font-weight: 400;
  letter-spacing: 0.03em;

  background-color: $primary-white;
}
.section-title {
  margin-bottom: 50px;
  margin-top: 0;

  font-size: 36px;
  font-weight: 700;
  line-height: 1.17;
  text-align: center;
}
.container {
  width: 1230px;
  padding: 94px 15px;
  margin: 0 auto;
}
/*Хедер*/

.head {
  @extend .container;
  display: flex;
  align-items: center;
  padding-top: 25px;
  padding-bottom: 25px;
  border-bottom: 1px solid #ececec;
}

/* Герой */

.hero {
  text-align: center;
  padding-bottom: 200px;
  padding-top: 200px;
}
/*Характеристики*/

.attributes {
  border-bottom: 1px solid #ececec;
  padding-bottom: 94px;
}
/* Команда*/

.team-section {
  background: $background;
}
/*Клиенты*/

.clients {
  padding-bottom: 94px;
  text-align: center;
}
/*Футер*/

.footer-section {
  background: #2f303a;
}
.footer {
  padding-top: 60px;
  padding-bottom: 60px;
  display: flex;
  align-items: center;
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}
