.attributes {
  padding-top: 60px;
}
.attr-list {
  display: inline-block;
  margin: 0;
  padding: 0;

  .header {
    text-transform: uppercase;

    @media screen and (min-width: 480px) {
      margin: 0;
      margin-bottom: 10px;
    }

    .item {
      &:last-child {
      }

      .header {
        color: $title-text;

        font-weight: 700;
        font-size: 14px;
        line-height: 1.15;
      }
      .text {
        @media screen and (min-width: 480px) {
          margin-top: 10px;
        }
        color: $primary-text;

        font-size: 14px;
        line-height: 1.7;
      }
    }
  }
  .icon-attribute {
    width: 70px;
    height: 70px;
  }
  .attr-div {
    width: 270px;
    height: 120px;
    background-color: #f5f4fa;
    display: flex;
    align-items: center;
    justify-content: center;

    @media screen and (min-width: 480px) {
      width: 450px;
      margin-bottom: 30px;
    }
  }
}
