.attributes {
  padding-bottom: 0;
}
.attr-list {
  display: flex;
  padding: 0;
  margin: 0;
  .header {
    text-transform: uppercase;
  }
  .item {
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }

    .header {
      color: $title-text;

      margin-bottom: 0;

      font-weight: 700;
      font-size: 14px;
      line-height: 1.15;
    }
    .text {
      color: $primary-text;

      margin-bottom: 0;

      font-size: 14px;
      line-height: 1.7;
    }
  }
}
.icon-attribute {
  width: 70px;
  height: 70px;
}
.attr-div {
  width: 270px;
  height: 120px;
  background-color: #f5f4fa;
  display: flex;
  align-items: center;
  justify-content: center;
}
