.clients {
  padding-bottom: 94px;
  text-align: center;
}
.clients-list {
  display: flex;
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 0;

  .item {
    margin-right: 30px;
    &:last-child {
      margin-right: 0;
    }
  }
}
.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border-color $transition;
  &:hover,
  &:focus {
    border-color: $selection;
    fill: $selection;
    color: $selection;
  }
}

.clients-icon {
  fill: #afb1b8;

  transition: fill $transition;

  .clients-link:hover > &,
  .clients-link:focus > & {
    fill: $selection;
    color: $selection;
  }
}
