.clients {
  text-align: center;
  padding-bottom: 60px;
}
.clients-list {
  display: flex;
  flex-wrap: wrap;

  margin-top: 0;
  margin-bottom: 0;

  @media screen and (max-width: 767px) {
    padding: 0;
  }
  .item {
    margin-right: 15px;
    margin-bottom: 15px;
    @media screen and (min-width: 1200px) {
      margin-bottom: 0;
    }
    &:last-child {
      margin-right: 0;
    }
    @media screen and (max-width: 767px) {
      &:nth-of-type(even) {
        margin-right: 0px;
      }
    }
  }
}
.clients-link {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 210px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border-color $transition;

  @media screen and (min-width: 1200px) {
    width: 170px;

    display: flex;
    align-items: center;
    justify-content: center;
  }
  &:hover,
  &:focus {
    border-color: $selection;
    fill: $selection;
    color: $selection;
  }
}

.clients-icon {
  fill: #afb1b8;

  transition: fill $transition;

  .clients-link:hover > &,
  .clients-link:focus > & {
    fill: $selection;
    color: $selection;
  }
}
