.clients {
  text-align: center;
}
.clients-list {
  .item {
    &:last-child {
    }
  }
}
.clients-link {
  width: 170px;
  height: 90px;
  border: 1px solid #afb1b8;
  border-radius: 4px;

  transition: border-color $transition;
  &:hover,
  &:focus {
    border-color: $selection;
    fill: $selection;
    color: $selection;
  }
}

.clients-icon {
  fill: #afb1b8;

  transition: fill $transition;

  .clients-link:hover > &,
  .clients-link:focus > & {
    fill: $selection;
    color: $selection;
  }
}
