.works {
  @media screen and (max-width: 1200px) {
    display: none;
    padding-top: 0;
  }
}

.work-list {
  display: flex;
  padding: 0;
  margin: 0px;

  .header {
    background: rgba(47, 48, 58, 0.8);
    color: $primary-white;

    font-weight: 700;
    font-size: 14px;
    line-height: 1.15;

    text-align: center;
    text-transform: uppercase;
    padding: 27px;
    margin: 0;
  }

  .item {
    margin-right: 30px;
    position: relative;
    z-index: -1;

    &:last-child {
      margin-right: 0;
    }
    .header {
      position: absolute;
      width: 100%;
      bottom: 0;
    }
  }
}
