.footer-section {
  background: #2f303a;

  @media screen and (min-width: 480px) {
    width: $mobile;
  }
}
.footer {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
}

.logo-address {
  margin-right: 69px;
  font-weight: 300;

  .footer-logo {
    color: $primary-white;
    font-family: $font-logo;
    font-size: 26px;
    font-weight: 700;
    line-height: 1.2;
    text-decoration: none;
  }
  .address {
    color: $primary-white;

    font-style: normal;
  }
  .footer-link {
    font-size: 14px;
    line-height: 1.7;
    color: rgba(255, 255, 255, 0.6);
    margin-top: 10px;

    text-decoration: none;
  }
}
