.logo-address {
  margin-right: 69px;
  font-weight: 300;
}
.footer-logo {
  color: $primary-white;
  font-family: Raleway;
  font-size: 26px;
  font-weight: 700;
  line-height: 1.2;
  text-decoration: none;
}
.address {
  color: $primary-white;
  margin-top: 10px;
  font-style: normal;
}
.footer-link {
  font-size: 14px;
  line-height: 1.7;
  color: rgba(255, 255, 255, 0.6);
  margin-top: 10px;
  display: block;
  text-decoration: none;
}
