/* Контакты*/

.contacts {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  display: flex;
  padding-left: 0;

  &-link {
    color: $primary-text;

    font-size: 14px;
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: 0.02em;
    text-decoration: none;

    transition: color $transition;
  }
  &-link:hover {
    color: $selection;
  }

  &-item + &-item {
    margin-left: 50px;
  }
  &-link:hover > &-icon,
  &-link:focus > &-icon {
    fill: $selection;
  }
  &-icon {
    fill: $primary-text;
    margin-right: 10px;
    transition: fill $transition;
  }
}
