.contacts {
  &-list + &-list {
  }
}
.contacts-icon {
  fill: $primary-text;

  transition: fill $transition;

  .contacts-link:hover > &,
  .contacts-link:focus > & {
    color: $selection;
    fill: $selection;
  }
}

.contacts-link {
  color: $primary-text;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color $transition;

  &:hover,
  &:focus {
    color: $selection;
  }
}
