.contacts {
  margin-top: 0;
  margin-bottom: 0;
  margin-left: auto;
  display: flex;
  padding: 0;
  &-list {
    &:not(:last-child) {
      margin-bottom: 10px;
    }
  }
  &-list + &-list {
    @media screen and (min-width: 1200px) {
      margin-left: 30px;
    }
  }
  @media screen and (max-width: 1199px) {
    display: block;
  }

  @media screen and (min-width: 1200px) {
    margin-left: 300px;
  }

  @media screen and (max-width: 1199px) {
    margin-left: 83px;
  }
}
.contacts-icon {
  fill: $primary-text;
  transition: fill $transition;

  @media screen and (min-width: 768px) {
    margin-right: 8px;
  }

  @media screen and (min-width: 1200px) {
    margin-right: 10px;
  }

  .contacts-link:hover > &,
  .contacts-link:focus > & {
    color: $selection;
    fill: $selection;
  }
}

.contacts-link {
  color: $primary-text;

  font-size: 14px;
  font-weight: 500;
  line-height: 1.15;
  letter-spacing: 0.02em;
  text-decoration: none;

  transition: color $transition;

  @media screen and (max-width: 1199px) {
    font-size: 12px;
    display: flex;
  }

  &:hover,
  &:focus {
    color: $selection;
  }
}
