/* Основная навигация */

.nav {
  margin-left: 86px;
  margin-top: 0;
  margin-bottom: 0;
  padding: 0;
  display: flex;

  .link {
    text-decoration: none;
    padding: 32px 0px;
    color: $title-text;

    transition: color $transition;
  }
  .link:hover,
  .link:focus {
    color: $selection;
  }

  .link.current {
    color: $selection;
    position: relative;
  }
  .current::after {
    content: "";

    width: 100%;
    height: 4px;
    background-color: $selection;
    display: block;
    position: absolute;
    left: 0;
    bottom: 0;
    border-radius: 2px;
  }

  .item {
    color: $title-text;

    font-size: 14px;
    font-weight: 500;
    line-height: 1.15;
    letter-spacing: 0.02em;
  }
  .item + .item {
    margin-left: 40px;
  }
}
